<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('Object Regular Expression') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.cancelobject.object_regex">     
        </div>
        <br>
        <label class="control-label">{{ _('Retract on cancel') }}</label>
        <div class="controls">
            <input type="number" min="0" step=0.1 data-bind="value: settings.plugins.cancelobject.retract">
        </div>
        <br>
        <div class="controls">
        <label class="checkbox">Show current height in Statusbar
        	<input type="checkbox" data-bind="checked: settings.plugins.cancelobject.showNavBar">
         </label>
         </div>
    </div>
</form>
